# Copia este archivo a .env.local y reemplaza valores si trabajas localmente
NEXT_PUBLIC_SITE_URL=https://subarudev.com

# (Opcional, solo si vas a ejecutar scripts de migración que requieren DB)
# DATABASE_URL=postgres://user:pass@host:port/dbname
# BLOB_READ_WRITE_TOKEN=ssb_... (token de Vercel Blob con permisos read/write)

# SMTP para formulario de contacto (Gmail u otro proveedor compatible SMTP)
# Estas variables deben agregarse también en los secretos/Environment Variables de Vercel
EMAIL_HOST_USER=subaru0.dev@gmail.com
EMAIL_HOST_PASSWORD=ijry fapz dzxd ltub
